* {
  box-sizing: border-box;
}

body {
  font-family: Lato;
  margin: 0;
}

.header {
  text-align: center;
  background-color: #1D5261;
  color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0px;
}

.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}
.logo{
  margin-left: 15px;
}

.remove-style{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.logout{
  color: white;
  font-weight: bold;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #610A1D;
}

/* Style the buttons inside the tab */
.tab-button {
  background-color: #610A1D;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: white;
}
/*  */
/* Change background color of buttons on hover */
.tab-button:hover {
  background-color: #A11E22;
}

/* Create an active/current tablink class */
.tab-button.active {
  background-color: #A11E22;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.d-flex{
  display: flex;
}
.jc-c{
  justify-content: center;
}
.btn-primary{
  background-color: rgb(86,151,163);
  border-color: rgb(29,82,97);
}
.btn-primary:disabled{
  background-color: rgb(86,151,163);
  border-color: rgb(29,82,97);
}
.btn-primary:hover{
  background-color: rgb(29,82,97);
}
.btn-primary:not(:disabled):not(.disabled):active{
  background-color: rgb(29,82,97);
  border-color: rgb(29,82,97);
}
.nav-button{
  text-align: center;
  background-color: rgb(86,151,163);
  transition: 0.3s;
}
.nav-bar a{
  text-decoration: none;
  color: white;
  height: 30px;
}
.nav-button:hover{
  background-color: rgb(86,151,163,.8);
  cursor: pointer;
}
.nav-button-active{
  text-align: center;
  background-color: rgb(86,151,163,.8);
}
.show>.btn-primary.dropdown-toggle{
  background-color: rgb(29,82,97);
  border-color: rgb(29,82,97);
}
.subTabcontent{
  display: none;
  border-top: none;
}
@media screen and (max-width: 700px) {
  .row, .navbar {
    flex-direction: column;
  }
}
.btn-danger{
  background-color: #A11E22;
  border-color: #610A1D;
}
.btn-danger:hover{
  background-color: #610A1D;
}
.btn-danger:not(:disabled):not(.disabled):active{
  background-color: #610A1D;
  border-color: #610A1D;
}
.btn-warning{
  background-color: #F5FFC9;
  border-color: #610A1D;
}
.btn-warning:hover{
  background-color: #EBFF92;
}
.btn-warning:not(:disabled):not(.disabled):active{
  background-color: #EBFF92;
  border-color: #EBFF92;
}
.contenedor{
  overflow: hidden;
}
.login-error{
  color: #A11E22;
  font-size: 15px;
  text-decoration: underline;
}

/*Catalogo*/
#productos {
position: relative;
max-width: 100%;
width: 100%;
}
.white-panel {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
background: white;
box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
padding: 10px;
}
.white-panel h1 {
font-size: 1em;
}
.white-panel h1 a {
color: #A92733;
}
.white-panel:hover {
box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
margin-top: -5px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.flex-container {
display: flex;
flex-wrap: wrap;
}

.flex-container > div {
width: 220px;
margin: 20px;
}
